<!DOCTYPE html>
<html>
<head>
    <title> MovieSoft </title>
    <link rel="stylesheet" href="/static/css/main.css">
    
</head>
<body>
    <h1>MovieSoft</h1>
    <nav>
        <a href="/movies">Movie List</a>
        <a class="login" href="#">Login</a>
        <a class="login" href="#">Register</a>
    </nav>


    
    <!-- <form method="GET"="busqueda">
        <input type="text" placeholder="Search Movies">
        <input type="submit" value="Search">
    </form> -->
    {% block content%}
    

    {% endblock %}
</body>
</html>