{% extends 'base/base.html' %} 

{% block content%}
<article class="welcome">
    <h1>Bienvenido a MovieSoft</h1>
    <hr>
    <a href="/movies">Ir a la Lista de Peliculas</a>
</article>




<main class="contenedor-padre">
{% for portadas in movies %}
    <div class="contenedor-portadas">
{% if portadas.imagen != None %}
<img src="{{url_for('static', filename = portadas.imagen)}}" alt="" height="400">
<h3>{{portadas.name}}</h3>
    </div>
{% endif%}
{% endfor %}
</main>

<!-- Index.html -->
{% endblock %}


