{% extends 'base/base.html' %} {% block content%}

<nav>
    <img class="logoicono" src="/static/css/Logo_Netflix.png" alt="Logotipo" height="45">

    <a href="/movies">Movies</a>
    <div class="login">
        <a href="#">Entrar</a>
        <a href="#">Registrate</a>
    </div>
</nav>

<div class="contenedor-padre">
    {% for movie in movies %}
    <div class="contenedor-hijo">
        <!-- {% if movie.imagen != None %} -->
        <a href="/movies/info/{{movie.id}}">
            <img class="imagen-cartel" src="{{url_for('static', filename = movie.imagen)}}" width="243" height="360">
        </a>
        <div>
            <h3>{{movie.name}}</h3>
            <h3>{{movie.year}}</h3>
        </div>
    </div>
    {% endif%} {% endfor %}
</div>

<!-- Index.html -->
{% endblock %}