<!DOCTYPE html>
<html>

<head>
    <title> MovieSoft </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profilestyle.css">
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <style>
        .background-image {
            background-image: url({{url_for('static', filename = movie.file)}});
    </style>
</head>
<nav>
    <img class="logoicono" src="/static/css/Logo_Netflix.png" alt="Logotipo" height="45">
    <a href="/">Return to Home</a>
</nav>

<body>
<div class="background-image"></div>
    <div class="movie-data">
        <h1>{{movie.name}}</h1>
        <img class="movie-image" src="{{url_for('static', filename = movie.file)}}" width="350">
        <p>Director: {{movie.director}}</p>
        <p>Release Date: {{movie.year}}</p>
        <p>{{movie.synopsis}}</p>
    </div>
    
</body>
<!-- info.html -->
</html>
