{% extends 'base/base.html' %}


{% block content%}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
            <div class="warning">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="post" action="/movies">
    <label for="name">Movie Name</label>
    <input type="text" name = "name" placeholder="Introduce the movie name" ><br>
    <label for="year">Release Year</label>
    <input type="text" name = "year" placeholder="Introduce the release year" ><br>
    <label for="category">Movie Category</label>
    <input type="text" name = "category" placeholder="Introduce the movie genre"><br>
    <label for="director">Movie Director</label>
    <input type="text" name = "director" placeholder="Introduce the film director"><br>
    <input type="submit" value="Send">
</form>

{% endblock %}