<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ficha Pelicula</title>
    <style>
        .h1Texto {
            text-align: center;
        }

        .imagenPelicula {
            width: auto;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;}

        .peliculaInfo {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="h1Texto">Pelicula Nombre</h1>

    <div>
        <img class="imagenPelicula" src="http://via.placeholder.com/250x350" width="250" alt="">
        <div class="peliculaInfo">
            <p>Nombre Director: Paul Greengrass</p>
            <p>Fecha lanzamiento: 2016</p>
            <p>Han pasado 10 años desde que Jason Bourne desapareciera, pero ahora deberá luchar contra una organización que
                utiliza la tecnología para sembrar el terror. Mientras tanto, Heather Lee, una hacker contratada por la CIA,
                trata de localizarlo, y sospecha que un antiguo agente, Nicky Parsons, está igualmente tras los pasos de
                Bourne.</p>
        </div>
    </div>

</body>

</html>