{% extends 'base/base.html' %} {% block content %}
<a href="/movies">Return to Movie List</a>
<hr>
<h2>Update Movie Data</h2>
<!-- 'Error' Introduce todos los Datos
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% with messages = get_flashed_messages(category_filter=["error"]) %} {% if messages %} {% for message in messages %}
<div>{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<!-- Formulario Update Movie
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container">
    <form method="post" action="/movies/{{movie.id}}" enctype="multipart/form-data">
        <label for="name">Movie Name</label>
        <input type="text" name="name" placeholder="Enter the name of the movie" value="{{movie.name}}">


        <label for="year">Release date</label>
        <input type="text" name="year" placeholder="Enter the release date of the movie" value="{{movie.year}}">


        <label for="category">Genre</label>
        <input type="text" name="category" placeholder="Enter the genre of the movie" value="{{movie.category}}">


        <label for="director">Directed by</label>
        <input type="text" name="director" placeholder="Enter the director of the movie" value="{{movie.director}}">

        <label for="distributor">Distributed by</label>
        <input type="text" name="distributor" placeholder="Enter the distributor of the movie" value="{{movie.distributor}}">

        <img src="{{url_for('static', filename = movie.imagen)}}" alt="" height="200">
        <br>

        <label for="imagen">Imagen</label>
        <input type="file" name="imagen" value="{{movie.imagen}}">


        <input type="submit" value="Submit">
    </form>
</div>
<!-- search.html -->
{% endblock %}