{% extends 'base/base.html' %} {% block content %}
<a href="/movies">Return to Movie List</a>
<hr>
<!-- <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Release year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <tr>
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.category}}</td>
            <td>{{movie.director}}</td>
            <td><a class="delete-botton" href="/movies/delete/{{movie.id}}">Delete</a></td>

            </tr>
        </tbody>
</table> -->


<h2>Update Movie Data</h2>


<div class="container">
    <form method="post" action="/movies/{{movie.id}}">
        <label for="name">Movie Name</label>
        <input type="text" name="name" placeholder="Enter the name of the movie" value="{{movie.name}}">


        <label for="year">Release date</label>
        <input type="month" name="year" placeholder="Enter the release date of the movie" value="{{movie.year}}">


        <label for="category">Genre</label>
        <input type="text" name="category" placeholder="Enter the genre of the movie" value="{{movie.category}}">


        <label for="director">Directed by</label>
        <input type="text" name="director" placeholder="Enter the director of the movie" value="{{movie.director}}">

        <label for="distributor">Distributed by</label>
        <input type="text" name="distributor" placeholder="Enter the distributor of the movie" value="{{movie.distributor}}">

        <input type="submit" value="Submit">
    </form>
</div>
<!-- search.html -->
{% endblock %}