{% extends 'base/base.html' %} {% block content %}
<nav>
    <img class="logoicono" src="/static/css/Logo_Netflix.png" alt="Logotipo" height="45">
    <a href="/">Return to Home</a>
    <a href="/movies/new_movie">Add a New Movie</a>
</nav>
<h1 class="page-header">Movie List</h1>
{% with messages = get_flashed_messages(category_filter=["error"]) %} {% if messages %} {% for message in messages %}
<div>{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}
<div class="tableContainer">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th class="imagen-table">Imagen</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Directed by</th>
            <th>Distributed by</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>
                <a class="lista_link" href="/movies/{{movie.id}}">{{movie.name}}</a>
            </td>
            <td class="imagen-table">
                <img src="{{url_for('static', filename = movie.imagen)}}" alt="" width="75" height="111">
            </td>
            <td>
                <a class="lista_link" href="/movies/{{movie.id}}">{{movie.year}}</a>
            </td>
            <td>
                <a class="lista_link" href="/movies/{{movie.id}}">{{movie.category}}</a>
            </td>
            <td>
                <a class="lista_link" href="/movies/{{movie.id}}">{{movie.director}}</a>
            </td>
            <td>
                <a class="lista_link" href="/movies/{{movie.id}}">{{movie.distributor}}</a>
            </td>
            <td>
                <a class="delete-button" href="/movies/delete/{{movie.id}}" onclick="return confirm('Are you sure, you want to delete it?')">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    <!-- show_all.html -->
</table>
</div>
{% with messages = get_flashed_messages(category_filter=["error"]) %} {% if messages %} {% for message in messages %}
<div class="warning">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %} {% endblock %}